html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 241, 241);
}



h1 {
  display: inline-block;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight:800;
}



nav {
  color: white;
}

.background-dark {
 background-color: rgba(79, 105, 162, 1);
}

.header {
    background-color: rgba(79, 105, 162, 1);
    color: white;
}

.bg-knight {
    background-color: rgba(79, 105, 162, 1);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* Header Video styles */

.hero {
  position: relative;
  width: 100%;
  height: 55vw;

}

.hero-text-header {
    color: white;
    z-index: 0;
    font-family: 'Permanent Marker', cursive;
}

.hero-text-sub-header {
    color: white;
    z-index: 0;
    margin-top: -10px;
    font-size: 1.7rem;
}

.hero-text {
    color: white;
    z-index: 0;
    text-shadow: 0px 0px 9px rgba(0,0,0,.75);

}

.header-video {
  position: absolute;
   background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
  top: 0px;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* ----------- Video Overlay ----------- */

.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0.5;
}


img.header-gif {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

video{
  width: 100%;
}






.card-img-top {
  height: 18rem;
}
.detail-image-display {
    height: 400px;
    object-fit: contain;
}


.item-card {
  width: 32%;
  background-color: white;
  transition: .3s all;
    /* background-color: rgba(255, 255, 255, .1) */
}

.item-card:hover {
  width: 32%;
  background-color: white;
  transition: .3s all;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem .75rem rgba(0, 0, 0, .075);

}

.btn-lt-blue {
    color: #fff;
    background-color: rgba(79, 105, 162, 1);
    border-color: rgba(79, 105, 162, 1);

}

.btn-dk-blue {
    color: #fff;
    background-color: rgba(79, 105, 162, 1);
    border-color: rgba(79, 105, 162, 1);

}

.btn-dk-blue:hover {
  background-color:white;
  color: rgba(79, 105, 162, 1);
  border-radius: 3px;
  border: 1px solid rgba(5, 19, 54, .8);

}

.blue-button {
  width: 100%;
  background-color: rgba(79, 105, 162, 1);
  color: white;
  border-radius: 3px;
  padding: 15px 0;
}

.blue-button:hover {
  width: 100%;
  background-color:white;
  color: rgba(79, 105, 162, 1);
  border-radius: 3px;
  border: 1px solid rgba(5, 19, 54, .8);
  padding: 15px 0;
}

.blue-button:active {
  width: 100%;
  background-color: grey;
  color: black;
  border-radius: 3px;
  border: 1px solid rgba(5, 19, 54, .8);
  padding: 15px 0;
  transform: scale(.9);
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  z-index: 1;
}


/* Notice styles */


.notice-container {
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: -40px;
}

.notice-body-container {
  background-color: rgba(79, 105, 162, 1);
  height: 4vw;
}

.notice-p {
  color: white;
  font-weight:700;
}


/* Modal Styles */

.opening-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;

}

.custom-control-input-blue:checked~.custom-control-label::before {
  border-color: rgba(79, 105, 162, 1) !important;
  background-color: rgba(79, 105, 162, 1) !important;
}

.text-size-4 {
  font-size: 4rem;
}

.display-none {
  display: none;
}

.vis-hidden {
  visibility: hidden;
  z-index: -2;
}

.fade-in {
  animation: fade-in .66s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out  .66s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.slide-in {
  animation: slide-in .66s;
  animation-fill-mode: forwards;
}

.slide-down {
  animation: slide-down .66s;
  animation-fill-mode: forwards;
}

.slide-out {
  animation: slide-out .66s;
  animation-fill-mode: forwards;
}


@keyframes slide-in {
  0% { transform: translate3d(0, 30%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

@keyframes slide-down {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 50%, 0); }

}

@keyframes slide-out {
  0% { transform: translate3d(0, 0%, 0); }
  100% { transform: translate3d(0, 50%, 0); }
}

a {
  transition: .3s all;
  color: #5A4894;
}

.checkout-lables {
  font-size: .75rem;
}

.object-fit-width {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Cart Summary page styling */

.thumbnail-container {
  height: 75px;
  background-color: white;

}

.thumbnail {
  height: 100%;
  object-fit: contain;
  border: 1px solid rgb(225, 225, 225);
}

.cart-image {
  width: 100%;
}

.fa-trash-alt {
color:  rgb(154, 31, 28) !important;

}

/* Carousel styling */


.w-60 {
  width: 67%;
}

.grey {
  color: rgb(162, 162, 162);
}

.white-bg {
  background-color: white;
}

.muted-button {
  color: rgb(183, 183, 183);
}
.muted-button:hover {
  cursor: default;
}

.detail-image-display-container {
  margin-right: 20px;
}

.detail-image-display {
  height: 400px;
  object-fit: contain;
}

.carousel-container {
  height: 100px;
  width: 80%;
  overflow: hidden;
  border-radius:4px;

}

.carousel-box {
  height: 100px;
  width: 200%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.image-block{
  height: 100%;
  width: 50%;
}

.block-two {
  background-color: #e65100;
}

.carousel-button {
  margin: auto;
  cursor: pointer;
  font-size:24px;
}

.move-right {
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
}

.thumbnail-container {
  height: 75px;
  background-color: white;

}

.thumbnail {
  height: 100%;
  object-fit: contain;
  border: 1px solid rgb(225, 225, 225);
}

.cart-image {
  width: 100%;
}

img {
    height: 55%;
    object-fit: scale-down;
}

h3 span, h6 span {
  color: white;
  font-family: 'Bigshot One', cursive;;
}

.background-dark .container {
 color: white;
}



/* Media queries   */

@media screen and (min-width: 601px) {
i {
  font-size: 2rem;
}

.fa-chevron-circle-left {
  font-size: 1rem;
}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) and (min-device-width: 375px) and (orientation: portrait) {
.item-card {
    width: 100%;
}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
 /* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .item-card {
    width: 100%;
  }
  .smaller-text {
    font-size: .8rem;
  }
  .text-size-4 {
    font-size: 2rem;
  }
  .detail-image-display-container {
    margin-right: 0px;
  }
  .detail-image-display {
    height: 200px;
    object-fit: contain;
  }
  .thumbnail-container {
    height: 50px;
    background-color: white;
  }
  .notice-container {
    position: fixed;
    top: 0px;
    z-index: 1;
  }
  .notice-body-container {
    background-color: rgba(79, 105, 162, 1);
    height: 60px;
  }
  .video-overlay {
    top: 40px;
    height: 32%;
  }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .item-card {
    width: 100%;
    padding-top: 10%;
  }
  .container {
    max-width: 100%;
    margin: auto;
  }
  h4.iphone-678-landscape {
    font-size: 1.2rem;
  }
 .thumbnail-container {
    height: 50px;
    background-color: white;
  }
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .item-card {
    width: 45%;
  }
  .detail-image-display-container {
    margin-right: 0px;
  }
  h4.iphone-678-landscape {
    font-size: 1.2rem;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .item-card {
    width: 45%;
  }
    h4.iphone-678-landscape {
    font-size: 1.2rem;
  }
}
